@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../public/oldblack.jpg");
  background-size: 1600px 900px;
}